/*--------------------*/
/*----BASIC SETUP-----*/
/*--------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AkiraExpanded;
  src: url(./akira.otf);
}

html {
  background-color: #fff;
  color: #2F3434;
  height: 100%;
  font-family: "AkiraExpanded", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  display:flex;
  background-color: #090C13;
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100%;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/shape.png);
  background-size: 400px;
  opacity: 0.009;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  
  
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*--------------------*/
/*-RE-USABLE ELEMENTS-*/
/*--------------------*/

.row {
  max-width: 100%;
  margin: 0 auto;
}

section {
  padding: 0;
  margin: 0;
}

.box {
  padding: 1%;
}

/* -------HEADINGS------- */

h1,
h2,
h3 {
  display: flex;
  font-weight: 400;
  letter-spacing: 0.2px;
}

h1 {
  margin: 0;
  color: #2F3434;
  word-spacing: 4px;
  letter-spacing: 0.2px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h4 {
  display: flex;
  font-size: 0.6vw;
}

/* -------HOME------- */

#container {
  display:flex;
  width: 50vw;
  height: calc(50vw / 2) ;
  background-color: #F7F7FF;
}

#border {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image:url(./img/boxbackground.svg);
  background-size: 110%;
  background-position-x: 70%;
  background-position-y: 6%;
  border: #2F3434 calc(1.2vw) solid;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-size: 1.2vw;
  overflow: hidden;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
}

#border.transition {
  background-position-y: 95% !important;
}

#name {
  display: flex;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.red {
  display: inline;
  color: #FF715B;
}

#titleCard {
  display:flex;
  position: relative;
  flex-direction:column;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  order: 0;
  z-index: 10;
}

#titleCard.transition {
  transform: translateY(-50vh);
  -webkit-transform: translateY(-50vh);
  -moz-transform: translateY(-50vh);
  -ms-transform: translateY(-50vh);
  -o-transform: translateY(-50vh);
}

#tophalf {
  height: 100%;
  width: 100%;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#iconcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scrollprompt{
  font-size: 0.8vw;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

#scrolldown {
  text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

#aboutMe {
  display: flex;
  position:absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform:translateY(2vw);
  -webkit-transform:translateY(2vw);
  -moz-transform:translateY(2vw);
  -ms-transform:translateY(2vw);
  -o-transform:translateY(2vw);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  z-index: 1;
}

#aboutMe.transition{
  display: flex;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

#imgProfile {
  display: flex;
  width: 25vw;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.7vw;
}

#profile {
  width: 7vw;
  height: 7vw;
  clip-path: circle();
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#profileParent {
  filter:drop-shadow(0px 5px 10px rgba(0,0,0,0.5))  ;
  -webkit-filter:drop-shadow(0px 5px 3px rgba(0,0,0,0.5))  ;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
}

#profileParent:hover {
  filter: drop-shadow(0px 5px 8px rgba(0,0,0,0,0.8));
  -webkit-filter: drop-shadow(0px 5px 8px rgba(0,0,0,0,0.8));
}

#profile:hover {
  transform:scale(1.05) rotate(-10deg);
  -webkit-transform:scale(1.05) rotate(-10deg);
  -moz-transform:scale(1.05) rotate(-10deg);
  -ms-transform:scale(1.05) rotate(-10deg);
  -o-transform:scale(1.05) rotate(-10deg);
}

#description {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}

#description h4 {
  display: block;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2)
}